<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zs.generator.mybatis.mapper.Hibernate_sequenceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zs.generator.mybatis.entity.Hibernate_sequence">
        <result column="next_val" property="next_val" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        next_val
    </sql>

</mapper>
